<a href="https://colab.research.google.com/github/RebelReindeer/Coding-Projects/blob/main/Wine_rating_cnn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import tensorflow as tf
from tensorflow import keras
import pandas as pd
from sklearn.model_selection import train_test_split

In [ ]:
#load in dataset
dataset = pd.read_csv("https://raw.githubusercontent.com/elleobrien/wine/master/wine_quality.csv")
dataset

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0               7.4             0.700         0.00  ...       0.56      9.4        5
1               7.8             0.880         0.00  ...       0.68      9.8        5
2               7.8             0.760         0.04  ...       0.65      9.8        5
3              11.2             0.280         0.56  ...       0.58      9.8        6
4               7.4             0.700         0.00  ...       0.56      9.4        5
...             ...               ...          ...  ...        ...      ...      ...
1594            6.2             0.600         0.08  ...       0.58     10.5        5
1595            5.9             0.550         0.10  ...       0.76     11.2        6
1596            6.3             0.510         0.13  ...       0.75     11.0        6
1597            5.9             0.645         0.12  ...       0.71     10.2        5
1598            6.0             0.310         0.47  ...       0.66     11.0        6

[1599 rows x 12 columns]

In [ ]:
#one hot encode dataset
one_hot_encoded_dataset = pd.get_dummies(dataset)
one_hot_encoded_dataset

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0               7.4             0.700         0.00  ...       0.56      9.4        5
1               7.8             0.880         0.00  ...       0.68      9.8        5
2               7.8             0.760         0.04  ...       0.65      9.8        5
3              11.2             0.280         0.56  ...       0.58      9.8        6
4               7.4             0.700         0.00  ...       0.56      9.4        5
...             ...               ...          ...  ...        ...      ...      ...
1594            6.2             0.600         0.08  ...       0.58     10.5        5
1595            5.9             0.550         0.10  ...       0.76     11.2        6
1596            6.3             0.510         0.13  ...       0.75     11.0        6
1597            5.9             0.645         0.12  ...       0.71     10.2        5
1598            6.0             0.310         0.47  ...       0.66     11.0        6

[1599 rows x 12 columns]

In [ ]:
#separate into train and test

#seperate into x(input), and y(predicted value/label)
x = one_hot_encoded_dataset.drop('quality', axis = 1)
y = one_hot_encoded_dataset['quality']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=20)

In [ ]:
x_train.shape

(1279, 11)

In [ ]:
from keras import layers, losses
wine_quality_model = keras.models.Sequential()
wine_quality_model.add(layers.Flatten(input_shape = (11,)))
wine_quality_model.add(layers.BatchNormalization())
wine_quality_model.add(layers.Dense(256, activation = 'relu'))
wine_quality_model.add(layers.Dense(256, activation = 'relu'))
wine_quality_model.add(layers.Dropout(0.5))
wine_quality_model.add(layers.Dense(256, activation = 'relu'))
wine_quality_model.add(layers.Dropout(0.5))
wine_quality_model.add(layers.Dense(128, activation = 'relu'))
wine_quality_model.add(layers.Dense(10, activation = 'softmax'))

wine_quality_model.compile(optimizer = 'adam', loss = 'sparse_categorical_crossentropy', metrics = ['accuracy'])

In [ ]:
wine_quality_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 flatten (Flatten)           (None, 11)                0

 batch_normalization (BatchN  (None, 11)               44
 ormalization)

 dense (Dense)               (None, 256)               3072

 dropout (Dropout)           (None, 256)               0

 dense_1 (Dense)             (None, 256)               65792

 dropout_1 (Dropout)         (None, 256)               0

 dense_2 (Dense)             (None, 128)               32896

 dense_3 (Dense)             (None, 10)                1290

=================================================================
Total params: 103,094
Trainable params: 103,072
Non-trainable params: 22
_________________________________________________________________

In [ ]:
wine_quality_model.fit(x_train, y_train, epochs = 15, validation_data= (x_test, y_test))

Epoch 1/15
40/40 [==============================] - 1s 11ms/step - loss: 1.4433 - accuracy: 0.4722 - val_loss: 1.8008 - val_accuracy: 0.4250
Epoch 2/15
40/40 [==============================] - 0s 6ms/step - loss: 1.0734 - accuracy: 0.5856 - val_loss: 1.5527 - val_accuracy: 0.3938
Epoch 3/15
40/40 [==============================] - 0s 6ms/step - loss: 1.0375 - accuracy: 0.5778 - val_loss: 1.3181 - val_accuracy: 0.4313
Epoch 4/15
40/40 [==============================] - 0s 6ms/step - loss: 1.0151 - accuracy: 0.5770 - val_loss: 1.2666 - val_accuracy: 0.4531
Epoch 5/15
40/40 [==============================] - 0s 7ms/step - loss: 1.0025 - accuracy: 0.5692 - val_loss: 1.2345 - val_accuracy: 0.4781
Epoch 6/15
40/40 [==============================] - 0s 7ms/step - loss: 0.9845 - accuracy: 0.5880 - val_loss: 1.0552 - val_accuracy: 0.5969
Epoch 7/15
40/40 [==============================] - 0s 7ms/step - loss: 0.9776 - accuracy: 0.5872 - val_loss: 1.0205 - val_accuracy: 0.5719
Epoch 8/15
40/40 [==============================] - 0s 7ms/step - loss: 0.9584 - accuracy: 0.5887 - val_loss: 1.0191 - val_accuracy: 0.5719
Epoch 9/15
40/40 [==============================] - 0s 5ms/step - loss: 0.9453 - accuracy: 0.6052 - val_loss: 1.0110 - val_accuracy: 0.5906
Epoch 10/15
40/40 [==============================] - 0s 5ms/step - loss: 0.9356 - accuracy: 0.6044 - val_loss: 0.9663 - val_accuracy: 0.5906
Epoch 11/15
40/40 [==============================] - 0s 6ms/step - loss: 0.9174 - accuracy: 0.6177 - val_loss: 0.9784 - val_accuracy: 0.6000
Epoch 12/15
40/40 [==============================] - 0s 6ms/step - loss: 0.9195 - accuracy: 0.6317 - val_loss: 0.9712 - val_accuracy: 0.5969
Epoch 13/15
40/40 [==============================] - 0s 6ms/step - loss: 0.9298 - accuracy: 0.5973 - val_loss: 0.9603 - val_accuracy: 0.6156
Epoch 14/15
40/40 [==============================] - 0s 6ms/step - loss: 0.9035 - accuracy: 0.6286 - val_loss: 0.9727 - val_accuracy: 0.6125
Epoch 15/15
40/40 [==============================] - 0s 6ms/step - loss: 0.8771 - accuracy: 0.6224 - val_loss: 0.9523 - val_accuracy: 0.6000

In [ ]:
wine_quality_model.evaluate(x_test, y_test)

10/10 [==============================] - 0s 2ms/step - loss: 0.9521 - accuracy: 0.5906

[0.952100396156311, 0.590624988079071]

In [ ]:
import math
def turn_list_into_percentages(list):
  newlist = []

  for i in list:
    i = round(float(i), 2)
    newlist.append(i)

  jeffrey = []
  for i in newlist:
    i = i*100
    jeffrey.append(i)

  lol = []
  for i in jeffrey:
    i = math.floor(i)
    lol.append(i)
  

  return lol

In [ ]:
#load in y train
y_train

605     6
392     5
849     5
1418    5
459     3
       ..
924     5
1247    5
271     6
474     6
1379    6
Name: quality, Length: 1279, dtype: int64

In [ ]:
import random
q = random.randint(1, 1279)
b = q+1


prediction = wine_quality_model.predict(x_train[q:b])


llist = turn_list_into_percentages(list(prediction[0]))

biggest_value = 0
for i in llist:
  if i > biggest_value:
    biggest_value = i

wine_rating = llist.index(biggest_value) +1

print(llist)
wine_rating_true = y_train[q]
print(f"i predict that wine {q} has a {biggest_value} percent chance of being rated {wine_rating} out of 10")
print(f"wine {q} has a rating of {wine_rating_true}")


if wine_rating != wine_rating_true:
  llist.remove(biggest_value)

  biggest_value = 0
  for i in llist:
    if i > biggest_value:
      biggest_value = i

  wine_rating = llist.index(biggest_value)

  print(f"sorry, I can only predict with 65% accuracy, wine {q} also has a {biggest_value} percent chance of being rated {wine_rating} out of 10")

[0, 0, 0, 1, 3, 34, 50, 12, 1, 0]
i predict that wine 483 has a 50 percent chance of being rated 7 out of 10
wine 483 has a rating of 5
sorry, I can only predict with 65% accuracy, wine 483 also has a 34 percent chance of being rated 5 out of 10